protocol bgp dn42_<peer_name>_<listen_port> from dnpeersmp6 {
    neighbor <remote_lla>%'<wg_interface>' as <remote_as>;

    ipv4 {
        extended next hop on;
        import where dn42_export_filter(<ping>,24,34);
        export where dn42_export_filter(<ping>,24,34);
    };
    ipv6 {
        import where dn42_export_filter_v6(<ping>,24,34);
        export where dn42_export_filter_v6(<ping>,24,34);
    };
}
